[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/sai"]
	path = lib/sai
	url = https://github.com/makerdao/sai
[submodule "lib/maker-otc"]
	path = lib/maker-otc
	url = https://github.com/makerdao/maker-otc
[submodule "lib/sai-proxy"]
	path = lib/sai-proxy
	url = https://github.com/makerdao/sai-proxy
[submodule "lib/proxy-registry"]
	path = lib/proxy-registry
	url = https://github.com/makerdao/proxy-registry
[submodule "lib/oasis-direct-proxy"]
	path = lib/oasis-direct-proxy
	url = https://github.com/makerdao/oasis-direct-proxy.git
[submodule "lib/dss-deploy-scripts"]
	path = lib/dss-deploy-scripts
	url = https://github.com/makerdao/dss-deploy-scripts.git
[submodule "lib/maker-499"]
	path = lib/maker-499
	url = https://github.com/makerdao/maker-499.git
[submodule "lib/ds-chief"]
	path = lib/ds-chief
	url = https://github.com/dapphub/ds-chief.git
[submodule "lib/ds-token"]
	path = lib/ds-token
	url = https://github.com/dapphub/ds-token.git
[submodule "lib/symbolic-voting"]
	path = lib/symbolic-voting
	url = https://github.com/makerdao/symbolic-voting.git
[submodule "lib/vote-proxy"]
	path = lib/vote-proxy
	url = https://github.com/makerdao/vote-proxy.git
[submodule "lib/line-spell"]
	path = lib/line-spell
	url = https://github.com/makerdao/line-spell.git
[submodule "lib/sai-cagefree"]
	path = lib/sai-cagefree
	url = https://github.com/makerdao/sai-cagefree.git
